body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    float: : right;
    width: 100%;
    text-align: right;
}

.header a, .header button{
    margin: 10px;
    color: #000;
    text-decoration: none;
}

.header button{
    background:#4484f1;
    padding: 8px;
    font-size; 13px;
    color: #fff;
    border-radius: 10%;
    font-weight: bold;
}

#nav-link {
    font-size: 12px;
}

.form {
  text-align: center;
}

#form-search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #form-search {
    padding: 0 8px;
    display: flex;
    border: 1px solid #DFE1E5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.buttons {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 300px;
}

.buttons input{
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.main {
    text-align: center;
}

.logo-img img{
    width: 300px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 20px;
}
 
.footer  {
  background: #f2f2F2;
   bottom:0;
   width:100%;
   height:60%;
    font-size: 12px;

}

.footer France {
   text-align: left;
   padding-top: 15px;
       background: #f2f2F2;
     margin-left: 20px;
     font-size: 16px;
}

.footer-right {
   text-align: right;
  padding-top: 15px;
      background: #f2f2F2;
    margin-right: 20px;
         font-size: 14px;
}
  
 .footer-left {
   text-align: left;
   padding-top: 15px;
    background: #f2f2F2;
    margin-left: 20px;
    font-size: 14px;
 }